<!DOCTYPE html>
<html>
    <head>
        <title>Jobify - DevPleno</title>
        <link rel="stylesheet" type="text/css" href="styles/main.css"/>
    </head>
    <body>
        <div class="main-wrap">
            <%- include('../header') %>
            <h3 class="main-wrap__section-title">Admin</h3>
            <div>
                <div>
                    <ul class="main-wrap__role__list">
                        <li><a href="admin/vagas" class="main-wrap__role__list-item__link">Gerenciar Vagas</a></li>
                        <li><a href="admin/categorias" class="main-wrap__role__list-item__link">Gerenciar Categorias</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>